PORT=4000
NODE_ENV=development

# Groq API key used for job analysis + audio explanations
GROQ_API_KEY=gsk_your_key_here

# Python Audio Service
AUDIO_SERVICE_URL=http://localhost:8000

# CORS
FRONTEND_URL=http://localhost:5287

# KAVACH URL Threat Intel Keys
ABUSEIPDB_API_KEY=your_abuseipdb_key_here
GOOGLE_SAFE_BROWSING_API_KEY=your_google_safe_browsing_key_here
VIRUSTOTAL_API_KEY=your_virustotal_key_here
SECURITYTRAILS_API_KEY=your_securitytrails_key_here
URLSCAN_API_KEY=your_urlscan_key_here
